p{
    font-size: 20pt;
}
div{
    margin-left: 575pt;
    margin-right: 500pt;
}

#p1{
    margin-left: 475pt;
}
#p2{
    margin-left: 250pt;
}
#p3{
    margin-left: 975pt;
}
#p4{
    margin-left: 515pt;
}
#p5{
    margin-left: 45pt;
 }
#p6{
    margin-left: 545pt;
}
#p7{
    margin-left: 600;
}


body{
    background-color: rgb(136, 165, 189);
}
