<!DOCTYPE html>
<html>
<head>
    <title>Novo Post</title>
</head>
<body>
    <form method="POST" action="/criar">
        <label>Título:</label><br>
        <input name="titulo"><br>
        <label>Resumo:</label><br>
        <input name="resumo"><br>
        <label>Conteúdo:</label><br>
        <input name="conteudo"><br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>