#canvas1{
    background-color: rgb(245, 245, 245);
    border: 1px solid black;
}
#canvas2{
    background-color: rgb(245, 245, 245);
    border-style: solid 2px;
}
body{
    display: flex;
    justify-self: center;
    align-self: center;
    flex-direction: column;
}
