p{
    font-size: 20pt;
}

#p2{
    margin-left: 300pt;
}

.alinhar{
    align-items: center;
    margin-left: 50pt;
    flex-direction: row-reverse;
}
.inline{
    display: inline;
    justify-content: space-between;
}
body{
    background-color: rgb(136, 165, 189);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.p6:hover{
    color: rgba(197, 33, 33, 0.747);
}
.solid{
    border-style: solid;
}

table, th, td {
    border: 1px solid black;
}
